# Visual Studio
.vs/
PlayGen.SUGAR.Unity/**/bin/
PlayGen.SUGAR.Unity/**/obj/

# Unity
[Ll]ibrary/
[Tt]emp/
Unity/Unity.csproj
Unity/Unity.Editor.csproj
Unity/**/bin/**/*.dll
Unity/**/bin/**/*.pdb
Unity/**/bin/**/*.pdb.meta

# Output
[Bb]uild/